/*Inicio de Header*/
.head nav {
	background-color: #f8f8f8;
	height: 50px;
}

.head ul {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
}

.head li {
  	float: left;
}

.head li a {
  	display: block;
  	color: #333;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}

.head li a:hover:not(.menu) {
  	background-color: #ddd;
}

.head ul ul {
  	display: none;
  	position: absolute;
  	top: 50px;
  	background-color: #f8f8f8;
  	width: 200px;
}

.head ul li:hover > ul {
  	display:inherit;
}

.head ul ul li {
  	float:none;
  	display:list-item;
  	position: relative;
}

.head ul ul ul {
  	position: absolute;
  	top:0;
  	left:100%;
}

.menu:hover > ul {
  	display:block;
}
/*Fin de Header*/




/*Menu*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

img {
    width: 100px;
    margin-right: 20px;
}

h2 {
    font-size: 24px;
    margin: 0;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    margin: 0;
    margin-bottom: 10px;
}

.price {
    font-weight: bold;
    font-size: 20px;
    color: #c00;
}
/*Fin Menu*/